.container {
    width: 100%;
    background-color: #0b131b;
    display: flex;
}

.static-component {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: right;
    padding-bottom: 50px;
}

.what-next-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.what-next-1 h4 {
    font-size: 24pt;
    text-align: center;
}

.what-next-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #132d3f;
    border-radius: 40px;
    padding: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.img-container {
    background-color: #041422;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img-container img {
    width: 60%;
}

.card p {
    margin-top: 30px;
    width: 70%;
    text-align: center;
    font-size: 10pt;
}

@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 768px) {
    .card p {
        width: 90%;
        font-size: 8pt;
    }
}

@media only screen and (max-width: 485px) {
    .img-container {
        width: 80px;
        height: 80px;
    
    }
    .card {
        border-radius: 30px;
        padding: 15px;
        width: 80%;
        margin-bottom: 20px;
    }
    .what-next-1 h4 {
        font-size: 18pt;
        padding: 0 10%;
    }
}