.container {
    width: 100%;
    background-color: #0b131b;
    display: flex;
}

.static-component {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: right;
}

.video {
    background-color: #0f2755;
    min-height: 700px;
    color: white;
    padding-bottom: 50px;
    /* background-image: url("../../../assets/images/bgworld.png"); */
    background-position: bottom;
    background-repeat: no-repeat;
  }

.watch {
    width: 100%;
    height: 700px;
}

  .watch img {
    margin-top: 150px;
    cursor: pointer;
  }

.watch .reproductor {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

  .video_ituran {
    width: 100%;
    height: 100%;
  }

.image-yt:hover {
  cursor: pointer;
}

.image-yt img {
  margin-top: 0px;
  max-width: 100%;
}

  @media only screen and (max-width: 1024px) {

  }

  @media only screen and (max-width: 768px) {
      .watch {
        height: 590px;
      }
  }

  @media only screen and (max-width: 485px) {
      .watch {
        height: 330px;
      }
  }
